body{
	background: url(../img/bg.png) repeat fixed;
	font-family: "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei", "Apple LiGothic Medium", "SimHei", "ST Heiti", "WenQuanYi Zen Hei Sharp";
}
#tip_choose{
	margin-top: 15%;
	color: white;
	font-size: 2.5rem;
}
#choose_wrapper{
	margin-top: 3%;
}
#slogan{
	margin-top: 15%;
	width: 75%;
}